@import url("reset.css");

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vv;
    height: 100svh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: radial-gradient(30vw, rgb(117 38 77 / 78%), rgb(33 36 36)), #070707;    color: #ccc;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.wrapper {
    max-width: 1920px;
    margin: auto;
}

.header, 
.footer {
    padding: 20px;
    font-size: 1rem;
    color: rgb(156 163 175);
    background-color: #000000d9;
    width: 100vw;
}

.header {
    border-bottom: 1px solid rgb(31 41 55 / 0.5);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    color: #3b82f6;
    background-image: linear-gradient(to right, #ec4899, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__link {
    text-decoration: none;
    color: rgb(156 163 175);
}

.page__main {
    width: 80%;
    max-width: 1000px;
    padding-top: 70px;
    margin: 0 auto; 
}

.password-form {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;

    display: flex;
    gap: 10px;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 1px solid rgb(31 41 55 / 0.5);
}

.password-form__input {
    width: 100%;
    padding: 7px;
    color: rgb(191, 200, 214);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #998686;
    border-radius: 5px;
}

.password-form__btn {
    width: 300px;
    padding: 5px;
    background-image: linear-gradient(to right, #ec4899, #3b82f6);
    color: rgb(191, 200, 214);
    border-radius: 5px;
    border: none;
}

.main__table {
    max-width: 100vw;
    overflow-x: scroll;
    color: rgb(191, 200, 214);
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(31 41 55 / 0.5);
}

.table .table__thead {
    font-weight: bold;
    text-align: left;
}

.table__td:hover .td-wrapper{
    color: #ec4899;
}

.table .table__th, .table__td, .table__tr {
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 1px solid rgb(31 41 55 / 0.5);
    vertical-align: middle;
}

.table__tr:hover .table__td {
    background-color: #000;
    cursor: pointer;
}

.td-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    border-top: 1px solid rgb(31 41 55 / 0.5);
}

.hidden {
    display: none;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    height: 50px;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right, #ec4899, #3b82f6);
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.mobile-hidden {
    display: block;
    @media (max-width:768px) {
        display: none;
    }
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (max-width: 768px) {
    .header__logo {
        font-size: 14px;
    }
    .header__link {
        font-size: 12px;
    }
    .container {
        width: 100%;
        padding: 0 12px;
    }
    .password-form {
        margin-bottom: 20px;
        padding: 0 0 10px 0;
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }
    .password-form__btn {
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;
    }
    .page__main {
        width: calc(100%  - 20px);
        padding-top: 30px;
    }
    .table {
        font-size: 12px;
    }
    .table .table__tr, .table__td {
        padding: 3px;
        font-size: 8px;
    }
    .table .table__thead {
        text-align: center;
        text-transform: uppercase;
    }
    .table .table__th {
        padding: 7px;
        font-size: 8px;
    }
    .table .table__th:nth-child(2), 
    .table .table__th:nth-child(3){
        font-size: 5px;
    }
    .td-wrapper{
        justify-content: center;   
    }
    .footer {
        font-size: 10px;
    }
}

